<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/body_register.css">
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="Logo" id="logo_meli" >
        <section class="barra_busqueda"><span>Buscar productos, marcas</span>
            <article class="lupa"><span><i class="fa-solid fa-magnifying-glass"></i></span></article>
        </section>
        
        <article id="subtitulo1">
            <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito
        </article>
        <nav class="lista_menu1">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav class="lista_menu2">
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras <i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></class=></i></div>
        <img class="banner-principal" src="images/img-home-banner.jpg" alt="banner">
    </header>
    
    <form action="login.html" method="post">
        <div>
            <h4>Ingrese su e-mail</h4>
            <input type="email" name="email" id="email" placeholder="E-mail" class="camposDeFormulario">
        </div>
        <div>
            <h4>Ingrese su contraseña</h4>
            <input type="password" id="password" placeholder="Contraseña" class="camposDeFormulario">
        </div>
        <div class="boton_enviar"><button type="submit" value="enviar datos">Enviar</button></div>
    </form>

    <footer>
        <section class="pie_de_pagina">
            <article class="articulo_pie_de_pagina">    
            <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="articulo_pie_de_pagina">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="articulo_pie_de_pagina">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
            </article>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>

</body>
</html>