:root{
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;
}

* {
    font-family:'Roboto', sans-serif;
}