@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

:root{
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;
}

* {
    font-family:'Roboto', sans-serif;
}

body{
    margin: 0%;
    background-color: var(--color-grisClaro)
}

header{
    background-color: var(--color-amarillo);
    display: flex;
    flex-wrap: wrap;
}

#logo_meli{
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.barra_busqueda{
    width: 50%;
    background-color: var(--color-grisClaro);
    color: var(--color-grisOscuro);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: auto;
}
.lupa{
    font-size: 14px;
    margin-bottom: auto;
}
#subtitulo1{
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    height: 20px;
    margin-left: 15%;
    margin-right: 10px;
}

.lista_menu1 ul{
    list-style: none;
    font-size: 12px;
    margin: 0px;
}
.lista_menu2 ul{
    font-size: 12px;
    list-style: none;
    margin:0px;
}

.burger-menu{
    color: var(--color-grisClaro);
    padding: 15px;
    margin:auto;
}
.burger-menu i{
    background-color: var(--color-celeste);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.banner-principal{
    width: 100%
}

.catalogo_principal img{
    width: 100% 
}

section{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

main{
    background-color: var(--color-grisClaro);
    display: flex;
    flex-wrap: wrap;
} 
.articulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-content: center; */
    width: 90%;
    margin: 10px auto;
}

.detalles_de_articulos{
    background-color: white;
    border-top-color: #ebebeb;
    border-top-style: solid;
    display: flex;
    /* flex-direction: column; */
}

.subtitulo_body{
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    color: var(--color-grisOscuro);
}

.camion{
    display: block;
    color: var(--color-verde);
    background-color: white;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    position: relative;
    left: 85%;
    top: -15px;
}

.precio{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
}

.descuento{
    font-size: 16px;
    color: var(--color-verde);
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
}
.descripcion{
    color: var(--color-grisOscuro);
    font-size: 16px;
    margin-bottom: 0;
}
.pie_de_pagina{
    background-color: rgb(255, 255, 255);
    color: var(--color-grisOscuro);
    width: 90%;
    margin-top: 15px;
    flex-direction: column;
}

.pie_de_pagina i{
    color: var(--color-celeste);
    padding-top: 40px;
    font-size: 2em;
    margin-bottom: 10px;
}

footer h3{
    font-size: 18px;
}
footer p{
    font-size: 12px;
}
footer h4{
    font-size: 10px;
    height: 15px;
    margin-left: 20px;
} 
.articulo_pie_de_pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* edición segun el dispositivo */

@media (max-width: 767px) {
    .lista_menu1{
        display: none;
    }
    .lista_menu2{
        display: none;
    }
    .descripcion{
        display: none;
    }

    footer p{
        width: 60%;
    }
    
}

@media (min-width: 768px) {
    .articulo{
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
    #subtitulo1{
        justify-content: center;
        margin: auto;
    }
    .burger-menu{
        display: none;
    }
    
    .subtitulo_body{
        width: 90%;
    }
    
    .detalles_de_articulos{
        display: flex;
        flex-wrap: wrap;
    }

    .descuento{
        width: 60%;
        float: left;
    }
    .precio{
        float: left;
    }
    .descripcion{
        margin-left: 10%;
    }

    #logo_meli{
        width: 33%;
    }
    .barra_busqueda{
        width: 33%;
    }
    #subtitulo1{
        width: 33%;
    }

    .lista_menu1 ul{
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
    .lista_menu2 ul{
        display: flex;
        flex-direction: row;
    }
    .lista_menu1 li{
        margin: 10px;

    }
    .lista_menu2 li{
        margin: 10px;
    }

    .lista_menu1{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
    }
    .lista_menu2{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1024px) {
    .articulo{
        width: 23%;
    }
}




















